@import '../../assets/styles/variables.scss';

.page-nav-button {
    padding: 10px 50px;
    background: transparent;
    color: $white-color;
    border: 2px solid $accent-color-bright;
    border-radius: 10px;
    font-family: $para-font;
    font-size: 20px;
    transition: .2s;
}

.page-nav-button:hover {
    border-color: $white-color;
    cursor: pointer;
    transform: scale(1.05);
}