@use '../../assets/styles/media-mixins.scss';
@import '../../assets/styles/variables.scss';


.heading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    
    
    

    &--background {
        background-color: $primary-color;
    }

    .page-heading {
        font-size: 80px;
        color: $white-color;
        letter-spacing: 5px;
        font-family: $header-font;
        text-transform: uppercase;
        margin-top: 10px;

        @include media-mixins.large-phone{
            font-size: 39px;
        }

        @include media-mixins.tablet{
            font-size: 30px;
        }

        @include media-mixins.laptop{
            font-size: 40px;
        }
    
    }
}