.heading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid #0585a5;
    

    &--background {
        background-color: #002934;
    }

    .page-heading {
        font-size: 80px;
        letter-spacing: 5px;

        .page-heading--color {
        }
    }
}