@use '../../assets/styles/media-mixins.scss';
@import '../../assets/styles/variables.scss';

.character-card {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 250px;
    height: 40rem;
    background: $tertiary-color;
    border-radius: 10px;
    margin: 0.75rem;
    box-shadow: 0 0  20px 5px $shadow-alive;
    transition: 0.4s;


    @include media-mixins.large-phone{
        height: 30rem;
        width: 105px;
    }

    @include media-mixins.tablet{
        width: 210px;
    }

    &--deceased {
        box-shadow: 0 0 20px 5px $shadow-deceased;
    }
    
    &--unknown {
        box-shadow: 0 0 20px 5px $shadow-unknown;
    }
    

    &__heading {
        text-align: center;
        font-family: $header-font;
        font-size: 28px;

        @include media-mixins.large-phone{
            font-size: 20px;
        }
    }

    img {
        height: 100%;
        width: 100%;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    .character-info {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: 80%;
        padding-left: 10px;
        

        &__para {
            text-align: center;
            font-family: $para-font;
            padding: 10px;
            margin: 0;

            @include media-mixins.large-phone{
                font-size: 12px;
            }
        }

        &__header {
            font-family: $header-font;
            color: $accent-color-bright;
            font-size: 20px;
            padding: 0;
            margin: 0;

            @include media-mixins.large-phone{
                font-size: 15px;
            }
        }
    }

}

.character-card:hover {
    transform: scale(1.1);

}

a {
    text-decoration: none;
    color: $white-color;
}