.character-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    width: 250px;
    height: 30rem;
    background: rgb(60, 62, 68);
    border-radius: 10px;
    margin: 0.75rem;
    box-shadow: 5px 5px 20px green, -5px -5px 20px green;

    &--deceased {
        box-shadow: 5px 5px 20px red, -5px -5px 20px red;
    }

    &--unknown {
        box-shadow: 5px 5px 20px purple, -5px -5px 20px purple;
    }


    &__heading {
        text-decoration: underline;
    }

    .character-info {
        display: flex;
        justify-content: space-evenly;
        text-align: left;
        flex-wrap: wrap;
        height: 80%;
    }
}

img {
    height: 100%;
    width: 100%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}