@import '../../assets/styles/variables.scss';

.page-nav-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;

    &--background {
        background-color: $primary-color;
    }

    
}