@import '../../assets/styles/variables.scss';
.nav-search {
    display: flex;
    justify-content: center;

    &__input {
        border: 2px solid $accent-color;
        background-color: $tertiary-color;
        width: 70%;
        padding: 20px;
        color: $white-color;
        border-radius: 10px;
        font-size: 20px;
        font-family: $para-font;

    }

    &__input:focus {
        outline: none;
        border-color: $accent-color-bright;
    }
}