@import url('https://fonts.googleapis.com/css2?family=Iceland&family=Oxanium:wght@200..800&display=swap');

$header-font: "Iceland", sans-serif;
$para-font: "Oxanium", sans-serif;

$primary-color: #00293488;
$secondary-color: #002934;
$tertiary-color: #002934e8;
$accent-color: #0585a5;
$accent-color-bright: cyan;
$error-color: rgba(128, 0, 0, 0.565);
$shadow-alive: green;
$shadow-deceased: red;
$shadow-unknown: purple;
$white-color: white;