@import '../../assets/styles/variables.scss';

.nav-button {
    padding: 20px;
    background-color: transparent;
    color: $white-color;
    font-size: 20px;
    font-family: $para-font;
    width: 100%;
    height:auto;
    margin: 10px 0;
    transition: 0.25s;
    

    &__border {
        border-radius: 10px;


        &--colour {
            border: 2px solid $accent-color;
        }
    }
}

.nav-button:hover {
    cursor: pointer;
    transform: scale(1.05);
    background-color: $tertiary-color;
}